*{  background-color:wheat;
   
}

nav{
    text-align:center;
    width:1000px;
    position:absolute;
    left:50%;
    margin-left: -350px;
   

}
ul{
    display: inline;
 
}

li{

float:left;
list-style-type: none;

}

a{

display:block;
width:200px;
height:40px;
text-align: center;
line-height: 40px;
text-decoration: none;
background-color: coral

}

.center{
    margin-top:30px;
    margin-left: 220px;
  text-align: center;
  display: block;


}
.three{

    margin-top:30px;
     margin-left:220px;
     /* margin-right: 20px; */
     display:inline-block;}

.two{

    margin-top:30px;

       margin-left:20px;
       display:inline-block;    
}
     
.one{

    margin-top:30px;

       margin-left:20px;
       display:inline-block;    
}
     
.four{


    margin-top:30px;
    margin-left:220px;
    display:block;
    float: left;
}
h2{

    color:rgb(134, 6, 6);


}
p{

    color:rgb(182, 23, 23);
}


div{



width:400px;
height: 200px;
border:1px solid #ccc;
margin-top:30px;
margin-right:220px;
overflow:scroll;
float: right;
}

button{


  
    margin-top:140px;
    margin-bottom: 130px;
    margin-right:444px;
    margin-left:180px;

}

.bottom{


    margin-left:220px;
    display:block;
  
}